.card-header{
    border-top:3px solid #1ff566;
    font-size: 18px;
    color: #252525;
}

.table.user-details-table{
    background-color:#fff;
}

.fileupload_box img {
    max-width: 100%;
    height: 100%;
}