.eyes-wrap {
    position: absolute;
    right: 0;
    top: 29px;
    padding: 7px 12px;
}

.input-group-append>.input-group-text {
	cursor: pointer;
	background-color: transparent;
}

input.form-control[name='password'] {
	border-right: 0;
}

input.form-control[name='password'].is-invalid {
	border-right: 1px solid #f86c6b;
}