.eyes-wrap {
    position: absolute;
    right: 0;
    top: 29px;
    padding: 7px 12px;
}
.eyes-wrap :hover {
    cursor: pointer;
}

.app-body {
    display: flex ;
    flex-direction: column ;
	min-height: 100vh ;
}