<div class="app-body">
	<main class="main d-flex align-items-center">
		<div class="container">
			<div class="row">
				<div class="col-md-8 mx-auto">
					<div class="card-group">
						<div class="card p-4">
							<!-- <div *ngIf="show_alert" class="alert btn-danger">
								<button type="button" class="close" data-dismiss="alert"
									(click)="closeErrorMsg()">&times;</button>
								{{this.show_error_msg}}!
							</div> -->
							<div class="logo-holder mx-auto">
								<a [routerLink]="['/login']" routerLinkActive="router-link-active">
									<img src="assets/img/EBinaa-Logo-Colored.svg">
								</a>
							</div>
							<div class="card-body">
								<form class="example-form" [formGroup]="changePasswordForm" autocomplete="off">
									<h1 class="login-headingText" style="margin-bottom: 3.5%;">Reset Password</h1>
									<div class="form-row" style="margin-bottom: 2%;">
										<div class="form-group col-md-12">
											<label for="password">New Password</label>
											<input placeholder="Enter a new password..." formControlName="newPassword"
												type="{{ newPassToggle }}" class="form-control" [ngClass]="{
								  'is-invalid':
									submitted && changePasswordForm.controls.newPassword.errors
								}" required />
											<div class="eyes-wrap">
												<span class="eye_view_btn" (click)="showPass(2)" *ngIf="newPassToggle == 'text'">
													<i class="fa fa-eye"></i>
												</span>
												<span class="eye_crose_btn" (click)="showPass(2)" *ngIf="newPassToggle == 'password'">
													<i class="fa fa-eye-slash"></i>
												</span>
											</div>
											<div *ngIf="submitted && changePasswordForm.controls.newPassword.errors"
												class="invalid-feedback">
												<div *ngIf="changePasswordForm.controls.newPassword.errors.required">
													New Password is required
												</div>
												<div *ngIf="changePasswordForm.controls.newPassword.errors.pattern">
													Password must contain an uppercase, a lowercase, a number, a
													special character and length minimum 8 characters.
												</div>
											</div>
										</div>
									</div>

									<div class="form-row">
										<div class="form-group col-md-12">
											<label for="password">Confirm Password</label>
											<input placeholder="Re-enter your new password..." formControlName="confPassword"
												type="{{ confPassToggle }}" class="form-control" [ngClass]="{
								  'is-invalid':
									submitted && changePasswordForm.controls.confPassword.errors
								}" required />
											<div class="eyes-wrap">
												<span class="eye_view_btn" (click)="showPass(3)" *ngIf="confPassToggle == 'text'">
													<i class="fa fa-eye"></i>
												</span>
												<span class="eye_crose_btn" (click)="showPass(3)" *ngIf="confPassToggle == 'password'">
													<i class="fa fa-eye-slash"></i>
												</span>
											</div>
											<div *ngIf="
								  submitted && changePasswordForm.controls.confPassword.errors
								" class="invalid-feedback">
												<div *ngIf="changePasswordForm.controls.confPassword.errors.required">
													Confirm Password is required
												</div>
												<div *ngIf="changePasswordForm.controls.confPassword.errors.mustMatch">
													Both Passwords must match
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<button type="submit" class="btn btn-primary px-4" (click)="onSubmit()">
													Reset Password
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

						<!-- <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div> -->

					</div>
				</div>
			</div>
		</div>
	</main>
</div>