<div class="animated fadeIn">
  <div class="card">

    <div class="card-header">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Projects</span>
          </div>
          <input type="text" class="form-control" name="search_text" [(ngModel)]="search_text" placeholder="Search..." (keyup.enter)="search()">
          <select class="custom-select" name="project_type" [(ngModel)]="project_type">
            <option value="">All</option>
            <!-- <option value="new">New</option> -->
            <option value="draft">Draft</option>
            <option value="approved">Preparing for Tender</option>
            <option value="awarded">Awarded</option>
            <option value="signed">Signed</option>
            <!-- <option value="">Active</option> -->
            <option value="reject">Returned</option>
            <option value="closed">Archived</option>
          </select>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="reset" (click)="clearAll()">Clear</button>
            <button class="btn btn-brand btn-sm btn-primary" type="button" (click)="search()">Search</button>
          </div>
        </div>
    </div>

    <div class="card-table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col" (click)="sortProjects('id')">Project ID <i class="fa fa-sort{{ activeSort === 'id' ? activeSortBy === 'desc' ? '-desc' : '-asc' : '' }} ml-2"></i></th>
              <th scope="col" (click)="sortProjects('name')">Project Name <i class="fa fa-sort{{ activeSort === 'name' ? activeSortBy === 'desc' ? '-desc' : '-asc' : '' }} ml-2"></i></th>
              <!-- <th scope="col" (click)="sortProjects('user')">Created By <i class="fa fa-sort{{ activeSort === 'user' ? activeSortBy === 'desc' ? '-desc' : '-asc' : '' }} ml-2"></i></th> -->
              <th scope="col">Project Status</th>
              <th scope="col" (click)="sortProjects('created_at')">Created At <i class="fa fa-sort{{ activeSort === 'created_at' ? activeSortBy === 'desc' ? '-desc' : '-asc' : '' }} ml-2"></i></th>
              <th scope="col" (click)="sortProjects('date')">Date of Submission</th>
              <th scope="col" style="width: 200px;">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let project of projectList; let i = index">
              <td>{{ project.id }}</td>
              <td title="{{ project.name }}">{{ project.name | truncate }}</td>
              <!-- <td>{{ project.user_id ? project?.user?.full_name : '&mdash;' }}</td> -->
              <td>{{ getProjectStatus( project.status ) }}</td>
              <td>{{ project.createdAt | date:'medium' }}</td>
              <td>{{ project.project_submit_date ? (project.project_submit_date | date:'MMM d, y') : "--" }}</td>
              <td><a [routerLink]="['/projects/edit/', project.id]" class="btn btn-success btn-sm">View Details</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="card-body" *ngIf="countTotalPage == 0">
      <div class="alert alert-danger mb-0" role="alert">Sorry! No data to display.</div>
    </div>

    <div class="card-footer pb-0" *ngIf="countTotalPage != 0 && countTotalPage>limitPerPage">

      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(1)">&laquo;</a>
        </li>
        <li class="page-item disabled" [ngClass]="{disabled:pager.currentPage === 1}">
          <a class="page-link" (click)="setPage(pager.currentPage - 1)">&lsaquo;</a>
        </li>
        <li class="page-item" *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <a class="page-link" (click)="setPage(page)">{{page}}</a>
        </li>

        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.currentPage + 1)">&rsaquo;</a>
        </li>
        <li class="page-item" [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a class="page-link" (click)="setPage(pager.totalPages)">&raquo;</a>
        </li>
      </ul>

    </div>
  </div>
</div>



