/* ========================== */
/* START OF SCSS VARIABLES */
/* ========================== */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i&display=swap');

$basefont :  'Montserrat', sans-serif;

$themeComnColor                 :#96cfca;
$color__white               	: #fff;
$light__grey                	: #f6f6f6;
$color__gray               	    : #8d8d8d;
$color__black               	: #000;
$color__dark                     :#414042;
$color__red                      :#fd1919;
$color__green                   : #249f19;
$color__ylw                     : #ffc107;

/* COLORS */
$PrimaryThemeColor: #02d94f ;
$ThemeBlueColor: #003996 ;
$ThemeLightBlueColor: #004f9b ;
$ThemeSkyBlueColor: #79B8ED ;
$ThemeYellowColor: #ffd600 ;
$ThemeRedColor: #FF0000 ;
$ThemeGrayColor: #CBCACA ;
$ThemeOrangeColor: #da6400 ;
$ThemeVioletColor: #8765fd ;
$SectionTitleColor: #1e428a ;
$SectionSubtitleColor: #000000 ;
$BodyFontColor: rgba(57,57,57,0.6) ;

/* ========================== */
/* END OF SCSS VARIABLES */
/* ========================== */
